## Male and Female populations by city
Program enrolled male and female population counts. Dataset should be taken into Tableau for some work

In [2]:
import pandas as pd

In [3]:
def wrangle(filepath):
    df = pd.read_csv(filepath)
    df.drop(columns = 'Unnamed: 0', inplace = True)
    return df

In [4]:
df = wrangle(r'C:\Users\Alex Lucchesi\OneDrive\Documents\GitHub\homelessness_project\src\cleaned_datasets\2019_cc_alldata.csv')
df.head()

,sumlev,state,county,stname,ctyname,year,agegrp,tot_pop,tot_male,tot_female,...,hwac_male,hwac_female,hbac_male,hbac_female,hiac_male,hiac_female,haac_male,haac_female,hnac_male,hnac_female
0,50,48,1,Texas,Anderson County,1,0,58458,35521,22937,...,5784,2707,321,129,182,88,188,34,82,28
1,50,48,1,Texas,Anderson County,1,1,3135,1566,1569,...,385,313,22,27,13,9,8,7,3,2
2,50,48,1,Texas,Anderson County,1,2,3258,1729,1529,...,375,324,17,16,12,11,1,7,9,5
3,50,48,1,Texas,Anderson County,1,3,3156,1573,1583,...,283,315,21,17,11,11,3,3,2,4
4,50,48,1,Texas,Anderson County,1,4,3107,1676,1431,...,324,255,7,12,11,13,4,1,2,2

In [5]:
l = []
for col in df.columns:
    if df[col].nunique() == 1:
        l.append(col)
l.pop()
df.drop(columns = l, inplace = True)

In [6]:
df.columns

Index(['county', 'stname', 'ctyname', 'year', 'agegrp', 'tot_pop', 'tot_male',
       'tot_female', 'wa_male', 'wa_female', 'ba_male', 'ba_female', 'ia_male',
       'ia_female', 'aa_male', 'aa_female', 'na_male', 'na_female', 'tom_male',
       'tom_female', 'wac_male', 'wac_female', 'bac_male', 'bac_female',
       'iac_male', 'iac_female', 'aac_male', 'aac_female', 'nac_male',
       'nac_female', 'nh_male', 'nh_female', 'nhwa_male', 'nhwa_female',
       'nhba_male', 'nhba_female', 'nhia_male', 'nhia_female', 'nhaa_male',
       'nhaa_female', 'nhna_male', 'nhna_female', 'nhtom_male', 'nhtom_female',
       'nhwac_male', 'nhwac_female', 'nhbac_male', 'nhbac_female',
       'nhiac_male', 'nhiac_female', 'nhaac_male', 'nhaac_female',
       'nhnac_male', 'nhnac_female', 'h_male', 'h_female', 'hwa_male',
       'hwa_female', 'hba_male', 'hba_female', 'hia_male', 'hia_female',
       'haa_male', 'haa_female', 'hna_male', 'hna_female', 'htom_male',
       'htom_female', 'hwac_male', 'hwac_female', 'hbac_male', 'hbac_female',
       'hiac_male', 'hiac_female', 'haac_male', 'haac_female', 'hnac_male',
       'hnac_female'],
      dtype='object')

In [8]:
df1 = wrangle(r'C:\Users\Alex Lucchesi\OneDrive\Documents\GitHub\homelessness_project\src\cleaned_datasets\COVID_case_count_data.csv')
df1.head()

     county  confirmed_cases  probable_cases  fatalities
0  Anderson           4954.0          2774.0         171
1   Andrews           2637.0             0.0          52
2  Angelina           6546.0          6656.0         356
3   Aransas           1920.0           556.0          56
4    Archer            937.0           140.0          14

In [13]:
df2 = pd.read_csv(r'C:\Users\Alex Lucchesi\OneDrive\Documents\GitHub\homelessness_project\src\cleaned_datasets\COVID_data_Texas_by_county.csv', index_col = 'Unnamed: 0')
df2.index.rename('date', inplace = True)
df2.head()
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 572 entries, 2020-03-06 to 2021-09-28
Columns: 255 entries, anderson to total
dtypes: float64(255)
memory usage: 1.1+ MB

In [15]:
df2.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
Index: 572 entries, 2020-03-06 to 2021-09-28
Data columns (total 255 columns):
 #    Column         Dtype
---   ------         -----
 0    anderson       float64
 1    andrews        float64
 2    angelina       float64
 3    aransas        float64
 4    archer         float64
 5    armstrong      float64
 6    atascosa       float64
 7    austin         float64
 8    bailey         float64
 9    bandera        float64
 10   bastrop        float64
 11   baylor         float64
 12   bee            float64
 13   bell           float64
 14   bexar          float64
 15   blanco         float64
 16   borden         float64
 17   bosque         float64
 18   bowie          float64
 19   brazoria       float64
 20   brazos         float64
 21   brewster       float64
 22   briscoe        float64
 23   brooks         float64
 24   brown          float64
 25   burleson       float64
 26   burnet         float64
 27   caldwell       float64
 28   calhoun        float64
 29   callahan       float64
 30   cameron        float64
 31   camp           float64
 32   carson         float64
 33   cass           float64
 34   castro         float64
 35   chambers       float64
 36   cherokee       float64
 37   childress      float64
 38   clay           float64
 39   cochran        float64
 40   coke           float64
 41   coleman        float64
 42   collin         float64
 43   collingsworth  float64
 44   colorado       float64
 45   comal          float64
 46   comanche       float64
 47   concho         float64
 48   cooke          float64
 49   coryell        float64
 50   cottle         float64
 51   crane          float64
 52   crockett       float64
 53   crosby         float64
 54   culberson      float64
 55   dallam         float64
 56   dallas         float64
 57   dawson         float64
 58   deaf smith     float64
 59   delta          float64
 60   denton         float64
 61   dewitt         float64
 62   dickens        float64
 63   dimmit         float64
 64   donley         float64
 65   duval          float64
 66   eastland       float64
 67   ector          float64
 68   edwards        float64
 69   ellis          float64
 70   el paso        float64
 71   erath          float64
 72   falls          float64
 73   fannin         float64
 74   fayette        float64
 75   fisher         float64
 76   floyd          float64
 77   foard          float64
 78   fort bend      float64
 79   franklin       float64
 80   freestone      float64
 81   frio           float64
 82   gaines         float64
 83   galveston      float64
 84   garza          float64
 85   gillespie      float64
 86   glasscock      float64
 87   goliad         float64
 88   gonzales       float64
 89   gray           float64
 90   grayson        float64
 91   gregg          float64
 92   grimes         float64
 93   guadalupe      float64
 94   hale           float64
 95   hall           float64
 96   hamilton       float64
 97   hansford       float64
 98   hardeman       float64
 99   hardin         float64
 100  harris         float64
 101  harrison       float64
 102  hartley        float64
 103  haskell        float64
 104  hays           float64
 105  hemphill       float64
 106  henderson      float64
 107  hidalgo        float64
 108  hill           float64
 109  hockley        float64
 110  hood           float64
 111  hopkins        float64
 112  houston        float64
 113  howard         float64
 114  hudspeth       float64
 115  hunt           float64
 116  hutchinson     float64
 117  irion          float64
 118  jack           float64
 119  jackson        float64
 120  jasper         float64
 121  jeff davis     float64
 122  jefferson      float64
 123  jim hogg       float64
 124  jim wells      float64
 125  johnson        float64
 126  jones          float64
 127  karnes         float64
 128  kaufman        float64
 129  kendall        float64
 130  kenedy         float64
 131  kent           float64
 132  kerr           float64
 133  kimble         float64
 134  king           float64
 135  kinney         float64
 136  kleberg        float64
 137  knox           float64
 138  lamar          float64
 139  lamb           float64
 140  lampasas       float64
 141  la salle       float64
 142  lavaca         float64
 143  lee            float64
 144  leon           float64
 145  liberty        float64
 146  limestone      float64
 147  lipscomb       float64
 148  live oak       float64
 149  llano          float64
 150  loving         float64
 151  lubbock        float64
 152  lynn           float64
 153  mcculloch      float64
 154  mclennan       float64
 155  mcmullen       float64
 156  madison        float64
 157  marion         float64
 158  martin         float64
 159  mason          float64
 160  matagorda      float64
 161  maverick       float64
 162  medina         float64
 163  menard         float64
 164  midland        float64
 165  milam          float64
 166  mills          float64
 167  mitchell       float64
 168  montague       float64
 169  montgomery     float64
 170  moore          float64
 171  morris         float64
 172  motley         float64
 173  nacogdoches    float64
 174  navarro        float64
 175  newton         float64
 176  nolan          float64
 177  nueces         float64
 178  ochiltree      float64
 179  oldham         float64
 180  orange         float64
 181  palo pinto     float64
 182  panola         float64
 183  parker         float64
 184  parmer         float64
 185  pecos          float64
 186  polk           float64
 187  potter         float64
 188  presidio       float64
 189  rains          float64
 190  randall        float64
 191  reagan         float64
 192  real           float64
 193  red river      float64
 194  reeves         float64
 195  refugio        float64
 196  roberts        float64
 197  robertson      float64
 198  rockwall       float64
 199  runnels        float64
 200  rusk           float64
 201  sabine         float64
 202  san augustine  float64
 203  san jacinto    float64
 204  san patricio   float64
 205  san saba       float64
 206  schleicher     float64
 207  scurry         float64
 208  shackelford    float64
 209  shelby         float64
 210  sherman        float64
 211  smith          float64
 212  somervell      float64
 213  starr          float64
 214  stephens       float64
 215  sterling       float64
 216  stonewall      float64
 217  sutton         float64
 218  swisher        float64
 219  tarrant        float64
 220  taylor         float64
 221  terrell        float64
 222  terry          float64
 223  throckmorton   float64
 224  titus          float64
 225  tom green      float64
 226  travis         float64
 227  trinity        float64
 228  tyler          float64
 229  upshur         float64
 230  upton          float64
 231  uvalde         float64
 232  val verde      float64
 233  van zandt      float64
 234  victoria       float64
 235  walker         float64
 236  waller         float64
 237  ward           float64
 238  washington     float64
 239  webb           float64
 240  wharton        float64
 241  wheeler        float64
 242  wichita        float64
 243  wilbarger      float64
 244  willacy        float64
 245  williamson     float64
 246  wilson         float64
 247  winkler        float64
 248  wise           float64
 249  wood           float64
 250  yoakum         float64
 251  young          float64
 252  zapata         float64
 253  zavala         float64
 254  total          float64
dtypes: float64(255)
memory usage: 1.1+ MB